<section class="container-fluid">
    <div class="post-info">
        <h2 class="post-title">{{post.title}}</h2>
        <h3 class="created-at">{{format_date post.created_at}} by {{post.user.username}}</h3>
        <div class="separator"><hr></div>
    </div>
    <div class="post-text">
        {{post.post_text}}
        <div class="separator"><hr></div>
    </div>
</section>

{{> comment-form}}
