:root {
    --black: #2C3440;
    --dark-teal: #255B70;
    --teal: #00878E;
    --emerald: #33B392;
    --lime: #8FDA81;
    --lemon: #F9F871;
    --white: #FFF;
    --gray: #767F8D;
    --light-gray: #CAD3E2;
    --danger: #dc3545;
    --danger-light: #e45d6a;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Code', monospace;
}

body {
    color: var(--black);
    font-family: 'Roboto', sans-serif;
}

.btn {
    color: var(--white);
    background-color: var(--emerald);
    border: none;
}

.btn:hover {
    color: var(--white);
    background-color: var(--lime);
    border: none;
}

.form-label {
    font-family: 'Fira Code', monospace;
    color: var(--gray);
}

/* class styles */
/* navbar styles */
.navbar {
    background-color: var(--teal);
}
.navbar-brand {
    text-decoration: none;
}
.title {
    font-weight: 600;
}
.title:hover {
    color: var(--lemon);
}
.navbar a {
    color: var(--white);
}
.nav {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
}
.nav-link:hover {
    color: var(--lemon);
}

/* main styles */
main.container-fluid {
    --bs-gutter-y: 1.5rem;
    padding-top: calc(var(--bs-gutter-y) * 0.5);
}

/* card styles */
.card-title {
    color: var(--dark-teal);
}
.card-title:hover {
    color: var(--emerald);
}
.card-subtitle {
    color: var(--gray);
}
.post-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card-link {
    color: var(--emerald);
}
.card-link:hover {
    color: var(--lime);
}
.post-link {
    text-decoration: none;
}

/* single post page styles */
.post-title {
    color: var(--emerald);
}
.created-at {
    color: var(--gray);
    font-size: large;
}
.post-text {
    font-size: large;
}

/* dashboard styles */
.welcome {
    color: var(--dark-teal);
}
.username {
    color: var(--emerald);
}

/* edit post page styles */
#delete-post {
    border: none;
    background: none;
    color: var(--danger);
}
#delete-post:hover {
    color: var(--danger-light);
}
.material-icons.md-36 { font-size: 36px; }